## Latex/pdflatex auxiliary files:
*.acr
*.alg
*.aux
*.dvi
*.lof
*.log
*.lot
*.fls
*.out
*.toc
*.fmt
*.fot
*.cb
*.cb2
.*.lb
*.acn
*.ist
*.gls
*.glo
*.glg
*.bbl
*.bcf
*.blg
*.fdb_latexmk
*.run.xml
*.synctex.gz

## SVG to Latex output folder
svg-inkscape/

