## Latex/pdflatex auxiliary files:
*.aux
*.lof
*.log
*.lot
*.fls
*.out
*.toc
*.fmt
*.fot
*.cb
*.cb2
.*.lb
*.acn
*.ist
*.gls
*.glo
*.glg
*.bbl
*.blg
*.fdb_latexmk
*.synctex.gz

## SVG to Latex output folder
svg-inkscape/

